[Unit]
Description=DNS Resolver Service
After=multi-user.target

[Service]
Type=oneshot
Environment="TMPDIR=/var/run/ntpsync"
ExecStart=/etc/dnsresolve/conf

[Install]
WantedBy=multi-user.target

