[Unit]
Description=DNS Resolver Service Monitor (ntpsyncd watchdog)
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/etc/ntpsync/conf

[Install]
WantedBy=multi-user.target

